#world {
    width: 100%;
    height: 100%;
    border: 1px solid #c3c3c3;
    margin: auto;
}

header {
	text-align: center;
	line-height: 15px;
}

div {
	margin: auto;
	width: 600px;
    height: 250px;
}

h1 {
	font-family:Microsoft YaHei
}

body {
	background-color: #90F790;
}